#content
  .left.column
    %h1
      About RMU Flow
    %p 
      Text about RMU Flow

  .right.column
    = image_tag('landing.png')


  .user_preview
    %ul
      - @users.each do |user|
        %h
          = link_to user.name, user_path(user)
        %p
          = user.about
      
